<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://www.springframework.org/schema/context     
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx.xsd  
        ">

    <!--扫描包下所有的类，但必须有@service注释 id为类名第一个字母小写，如果被事务了，则会被生成代理对象， -->
    <!--使用组件扫描 spring容器扫描指定包下的所有类，如果类上有注解 那么根据注解产生相应bean对象映射信息，id为类名小写 -->
    <context:component-scan base-package="cn.jarvan.serviceImpl"></context:component-scan>

    <!--配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--开启注解方式配置事务 只要是有事务注解的方法，都会被动态代理 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>